.column{
    background-color:rgb(39, 39, 97);
    width: 55vw;
    height: 100vh;
    padding: 20px;
}
.statement,.answer{
    margin-top: 20px;
    color: aliceblue;
    background-color: rgb(163, 0, 0);
    border: 1px solid white;
    border-radius: 10px;
    align-content: flex-start;       
    text-align: left;
    font-size: 27px;
    font-family: 'Roboto';
}
.statement{
    padding: 30px 60px;
}
.answer{
    padding: 10px 40px;
}
